//gradient
@mixin gradient($direction, $colors) {
  background: -webkit-linear-gradient($direction, $colors);
  background: -moz-linear-gradient($direction, $colors);
  background: -o-linear-gradient($direction, $colors);
  background: linear-gradient($direction, $colors);
}

//-shapes
//shapes with same width and height
@mixin shape($shape, $size, $color: null) {
  @if $shape == square {
    width: $size;
    height: $size;
    background-color: $color;
  }

  @if $shape == circle {
    width: $size;
    height: $size;
    background-color: $color;
    border-radius: 50%;
  }

  @if $shape == triangle {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size * 1.5 solid $color;
  }
}

//only for rectangle
@mixin rectangle($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
}

//pseudo element
@mixin pseudo($content, $position, $width, $height) {
  content: $content;
  position: $position;
  width: $width;
  height: $height;
}

//positioning
@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//flex
@mixin flex($display, $align: null, $justify: null) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

@mixin scrollable(
  $thumb: $blue,
  $track: transparent,
  $width: 6px,
  $height: 6px
) {
  overflow: auto;
  //padding-right: .5rem;

  /* width */
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $track;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($thumb, 0.8);
    border-radius: 4px;
    // cursor: pointer;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumb;
    cursor: pointer;
  }
}
