//-fonts
$font-family-sans-serif: "Rubik", sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-sm: 0.75rem;
$font-size-lg: 1.125rem;

//-typography
//head
$headings-font-weight: 700;

//-line height
$headings-line-height: 1.4;
$lin-height-base: 1.5;

//-grid gutter
$grid-gutter-width: 1.5rem;

//-top offset when navbar fixed
$navbar-offset: 116px; //height of navbar

//-animation
$time-func-1: cubic-bezier(0.4, 0, 0.2, 1);
$time-func-2: cubic-bezier(0.83, 0, 0.17, 1);
$time-func-3: cubic-bezier(0.65, 0, 0.35, 1); //used only while looping
$transition-base: all 0.25s $time-func-1;
$transition-fade: opacity 0.25s $time-func-1;
$input-transition: border-color 0.35s $time-func-1,
  box-shadow 0.35s $time-func-1, background-color 0.35s $time-func-1;
$btn-transition: color 0.25s $time-func-1, background-color 0.25s $time-func-1,
  border-color 0.25s $time-func-1, box-shadow 0.25s $time-func-1;
$transition-collapse: height 0.25s $time-func-1;

//breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px,
  xxl: 1440px,
);

//-colors

//brand color
$brand-color: (
  primary: #0d3883,
  // secondary: #009cda,
);
$blue-200: #d8e6ff;

// $primary-lighter: map-get($brand-color, primary-lighter);
// $primary-light: map-get($brand-color, primary-light);
$primary: map-get($brand-color, primary);
// $primary-dark: map-get($brand-color, primary-dark);
// $primary-darker: map-get($brand-color, primary-darker);

// $secondary-light: map-get($brand-color, secondary-light);
$secondary: map-get($brand-color, secondary);
// $secondary-dark: map-get($brand-color, secondary-dark);

$theme-colors: (
  success: #1e9e09,
  info: #1369ea,
  warning: #908309,
  danger: #d02d2d,
);

$theme-colors-shades: (
  successLight: #d0f7ca,
  successDark: #167807,
  infoLight: #e5edfb,
  warningLight: #f8f1b5,
  dangerLight: #fcd9d9,
);

$success-light: map-get($theme-colors-shades, successLight);
$success: map-get($theme-colors, success);
$success-dark: map-get($theme-colors-shades, successDark);

$info-light: map-get($theme-colors-shades, infoLight);
$info: map-get($theme-colors, info);

$warning-light: map-get($theme-colors-shades, warningLight);
$warning: map-get($theme-colors, warning);

$danger-light: map-get($theme-colors-shades, dangerLight);
$danger: map-get($theme-colors, danger);

//grays
$gray: (
  50: #f0f0f0,
  100: #e0e0e0,
  200: #c2c2c2,
  300: #a3a3a3,
  400: #858585,
  500: #666666,
  600: #4d4d4d,
  700: #333333,
  800: #1a1a1a,
  900: #0a0a0a,
);

$gray-50: map-get($gray, 50);
$gray-100: map-get($gray, 100);
$gray-200: map-get($gray, 200);
$gray-300: map-get($gray, 300);
$gray-400: map-get($gray, 400);
$gray-500: map-get($gray, 500);
$gray-600: map-get($gray, 600);
$gray-700: map-get($gray, 700);
$gray-800: map-get($gray, 800);
$gray-900: map-get($gray, 900);
$gray-16: #292929;
$gray-32: #525252;

$cool-gray: (
  50: #f4f5f6,
  60: #d8dde0,
  600: #71777c,
);

$cool-gray-50: map-get($cool-gray, 50);
$cool-gray-60: map-get($cool-gray, 60);
$cool-gray-600: map-get($cool-gray, 600);

$dark: $gray-900;
$white: #ffffff;

$body-color: $dark;

$yellow: #fdd13a;

//gradients
// $gradient: (
//   primary: (
//     $primary,
//     $primary-dark,
//   ),
//   primary-dark: (
//     rgba($primary-dark, 0) 56%,
//     rgba($primary-dark, 0) 64%,
//     $primary 100%,
//   ),
//   coolGray: (
//     $cool-gray-50,
//     rgba($white, 0),
//   ),
//   inner-hero-right: (
//     $primary-dark,
//     rgba($primary, 0) 36%,
//   ),
// );

// $gradient-primary: map-get($gradient, primary);
// $gradient-primary-dark: map-get($gradient, primary-dark);
// $gradient-coolGray: map-get($gradient, coolGray);
// $gradient-inner-hero-right: map-get($gradient, inner-hero-right);

// eight point rule spacers
$eight-pt-spacers: (
  2: 0.125rem,
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  24: 1.5rem,
  32: 2rem,
  40: 2.5rem,
  48: 3rem,
  56: 3.5rem,
);

// font weight
$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  semiBold: 600,
  bold: 700,
  black: 800,
);

$font-light: map-get($font-weight, light);
$font-regular: map-get($font-weight, regular);
$font-medium: map-get($font-weight, medium);
$font-semi-bold: map-get($font-weight, semiBold);
$font-bold: map-get($font-weight, bold);
$font-black: map-get($font-weight, black);

//-global

//border radius
$g-border-radius: 4px;

//-navbar
$navbar: (
  px: 0,
  py: 0,
  brandPy: 0,
  linkPx: 1rem,
  togglerPx: 0.75rem,
  togglerPy: 0.75rem,
  bgColor: $primary,
  color: $dark,
  height: 4rem,
);

$navbar-padding-y: map-get($navbar, py);
$navbar-padding-x: map-get($navbar, px);
$navbar-nav-link-padding-x: map-get($navbar, linkPx);
$navbar-brand-padding-y: map-get($navbar, brandPy);
$navbar-toggler-padding-x: map-get($navbar, togglerPx);
$navbar-toggler-padding-y: map-get($navbar, togglerPy);
$navbar-bg-color: map-get($navbar, bgColor);
$navbar-color: map-get($navbar, color);
$navbar-height: map-get($navbar, height);

// sidebar
$sidebar: (
  px: 0,
  py: 0,
  width: 240px,
  height: 4rem,
);

$sidebar-width: map-get($sidebar, width);
$sidebar-px: map-get($sidebar, px);
$sidebar-py: map-get($sidebar, py);

//input
$input-padding-y: 0.35rem;
$input-padding-x: 0.75rem;
$input-font-size: 0.875rem;
$input-color: $gray-16;
$input-bg: $white;
$input-disabled-bg: $gray-200;
$input-border-width: 1px;
$input-border-radius: 2px;
$input-border-color: $gray-100;
$input-line-height: 1.4;
$input-btn-line-height: $input-line-height;
// $line-height-sm: 1.4;
$input-placeholder-color: $gray-300;
$input-height: ($input-font-size) + ($input-padding-y * 2) - 2;

//-buttons
$btn-padding-y-xs: 0.25rem;
$btn-padding-x-xs: 0.5rem;
$btn-font-size-xs: 0.7rem;
$btn-line-height-xs: 1.4;
$btn-border-radius-xs: 0.125rem;
// $btn-border-radius-sm: 2px;
$btn-border-radius: $input-border-radius;
$btn-line-height: $input-line-height;
$btn-font-size: $input-font-size;
$btn-padding-y: $input-padding-y;
$btn-padding-x: $input-padding-x;
$input-btn-padding-x-lg: 1.725rem;
$input-btn-padding-y-lg: 1.5rem;

$custom-check-box: (
  borderRadius: $g-border-radius,
  borderColor: $gray-300,
);

$custom-checkbox-indicator-border-radius: map-get(
  $custom-check-box,
  borderRadius
);
$custom-checkbox-indicator-border-color: map-get(
  $custom-check-box,
  borderColor
);

//-card
$card: (
  p: 1.5rem,
  borderWidth: 1px,
  borderColor: $gray-100,
  borderRadius: $g-border-radius,
  backgroundColor: $white,
  boxShadow: unset,
);

$card-spacer-x: map-get($card, p);
$card-border-width: map-get($card, borderWidth);
$card-border-color: map-get($card, borderColor);
$card-border-radius: map-get($card, borderRadius);
$card-bg: map-get($card, backgroundColor);
$card-boxshadow: map-get($card, boxShadow);

$card-header-spacer: map-get($card, p);

//-badge
$badge: (
  py: 0.125rem,
  px: 0.25rem,
  fontSize: 0.75rem,
  fontWeight: 400,
  borderRadius: 0,
);

$badge-padding-y: map-get($badge, py);
$badge-padding-x: map-get($badge, px);
$badge-font-size: map-get($badge, fontSize);
$badge-font-weight: map-get($badge, fontWeight);
$badge-border-radius: map-get($badge, borderRadius);

//-breadcrumb
$breadcrumb: (
  py: 1.5rem,
  px: 0,
  itemPadding: 0.5rem,
  mb: 0,
  bgColor: $white,
  dividerColor: $gray-300,
  activeColor: $gray-300,
  borderRadius: 0,
);

$breadcrumb-padding-y: map-get($breadcrumb, py);
$breadcrumb-padding-x: map-get($breadcrumb, px);
$breadcrumb-item-padding: map-get($breadcrumb, itemPadding);
$breadcrumb-margin-bottom: map-get($breadcrumb, mb);
$breadcrumb-bg: map-get($breadcrumb, bgColor);
$breadcrumb-divider-color: map-get($breadcrumb, dividerColor);
$breadcrumb-active-color: map-get($breadcrumb, activeColor);
$breadcrumb-border-radius: map-get($breadcrumb, borderRadius);

//-pagination
$pagination: (
  py: 0.25rem,
  px: 0.25rem,
  lineHeight: 1.25,
  color: $gray-900,
  bgColor: $white,
  borderWidth: 0,
  borderColor: transparent,
  hoverColor: $primary,
  hoverBgColor: $gray-50,
  hoverBorderColor: transparent,
  activeColor: $white,
  activeBgColor: $primary,
  disabledColor: $gray-300,
  disabledBgColor: $white,
);

$pagination-padding-y: map-get($pagination, py);
$pagination-padding-x: map-get($pagination, px);
$pagination-line-height: map-get($pagination, lineHeight);
$pagination-color: map-get($pagination, color);
$pagination-bg: map-get($pagination, bgColor);
$pagination-border-width: map-get($pagination, borderWidth);
$pagination-border-color: map-get($pagination, borderColor);
$pagination-hover-color: map-get($pagination, hoverColor);
$pagination-hover-bg: map-get($pagination, hoverBgColor);
$pagination-hover-border-color: map-get($pagination, hoverBorderColor);
$pagination-active-color: map-get($pagination, activeColor);
$pagination-active-bg: map-get($pagination, activeBgColor);
$pagination-disabled-color: map-get($pagination, disabledColor);
$pagination-disabled-bg: map-get($pagination, disabledBgColor);

//-pagination
$alert: (
  py: 1rem,
  px: 1rem,
  borderRadius: 0,
  fontSize: 0.875rem,
);

$alert-padding-y: map-get($alert, py);
$alert-padding-x: map-get($alert, px);
$alert-border-radius: map-get($alert, borderRadius);
$alert-font-size: map-get($alert, fontSize);

//dropdown config
$dropdown: (
  minWidth: 10rem,
  py: 0.5rem,
  spacer: 0.125rem,
  bgColor: $white,
  borderWidth: 0,
  borderColor: rgba($dark, 0.15),
  borderRadius: 0.25rem,
  dividerBgColor: $gray-200,
  linkColor: $gray-600,
  linkHoverColor: darken($gray-900, 5%),
  linkHoverBgColor: $gray-50,
  linkActiveColor: $gray-900,
  linkActiveBgColor: $gray-300,
  linkDisabledColor: $gray-600,
  itemPy: 0.75rem,
  itemPx: 1.5rem,
  headerColor: $gray-600,
  zIndex: 1000,
);

$dropdown-min-width: map-get($dropdown, minWidth);
$dropdown-padding-y: map-get($dropdown, py);
$dropdown-spacer: map-get($dropdown, spacer);
$dropdown-bg: map-get($dropdown, bgColor);
$dropdown-border-color: map-get($dropdown, borderColor);
$dropdown-border-radius: map-get($dropdown, borderRadius);
$dropdown-border-width: map-get($dropdown, borderWidth);
$dropdown-divider-bg: map-get($dropdown, dividerBgColor);
$dropdown-box-shadow: 0 0.24rem 0.5rem rgba($dark, 0.08),
  0 0.5rem 1rem rgba($dark, 0.08);
$dropdown-link-color: map-get($dropdown, linkColor);
$dropdown-link-hover-color: map-get($dropdown, linkHoverColor);
$dropdown-link-hover-bg: map-get($dropdown, linkHoverBgColor);
$dropdown-link-active-color: map-get($dropdown, linkActiveColor);
$dropdown-link-active-bg: map-get($dropdown, linkActiveBgColor);
$dropdown-link-disabled-color: map-get($dropdown, linkDisabledColor);
$dropdown-item-padding-y: map-get($dropdown, itemPy);
$dropdown-item-padding-x: map-get($dropdown, itemPx);
$dropdown-header-color: map-get($dropdown, headColor);
$zindex-dropdown: map-get($dropdown, zIndex);

//- miscellaneous

//border
$border-color: $gray-100;
$hr-border-color: $gray-100;

//tooltip
$tooltip-border-radius: 0;
$tooltip-bg: $primary;
$tooltip-padding-y: 0.5rem;
$tooltip-opacity: 1;

//modal

$modal: (
  innerPadding: 1rem,
  headerPadding: 0.875rem 1rem,
  footerPadding: 1rem,
  borderRadius: $g-border-radius,
  widthMd: 34rem,
);

$modal-inner-padding: map-get($modal, innerPadding);
$modal-content-border-radius: map-get($modal, borderRadius);
$modal-header-padding: map-get($modal, headerPadding);
$modal-footer-padding: map-get($modal, footerPadding);
$modal-content-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08),
  0px 8px 16px rgba(0, 0, 0, 0.08);
$modal-md: map-get($modal, widthMd);

// $custom-control-indicator-checked-bg: $primary;
$custom-range-track-bg: $primary;
