* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-lg;
  }

  @include media-breakpoint-down(xl) {
    font-size: $font-size-base;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
  }
}

body {
  min-height: 100%;
  position: relative;
  // padding-bottom: 37.625rem + 3rem;

  &.toggled {
    .navbar-collapse {
      transform: translateX(-100%);

      @include media-breakpoint-down(md) {
        transform: translateX(0);
        transition: 0.25s transform $time-func-1;
      }
    }
  }
}

:root {
  --modal-overlay-size: 360px;
}
