h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

a {
  color: $dark;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

.text {
  &-lead {
    font-size: 1rem;
    font-weight: $font-medium;
  }

  &-underline {
    text-decoration: underline;

    &-hover {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
