.font {
  &-16 {
    font-size: 1rem;
  }

  &-14 {
    font-size: 0.875rem;
  }

  &-12 {
    font-size: 0.75rem;
  }
}

@each $label, $value in $gray {
  .text-gray-#{$label} {
    color: $value;
  }
}

@each $label, $value in $font-weight {
  .font-weight-#{$label} {
    font-weight: $value;
  }
}

.star {
  @include flex(inline-flex, center);
  font-size: 0.75rem;
  color: $gray-100;

  [class^="ic-"],
  [class*=" ic-"] {
    &:not(:last-child) {
      margin-right: 0.25rem;
    }
  }

  @for $i from 0 through 4 {
    &-#{$i + 1} {
      [class^="ic-"],
      [class*=" ic-"] {
        &:nth-child(-n + #{$i + 1}) {
          color: $primary;
        }
      }
    }
  }

  &-rating {
    @for $i from 0 through 4 {
      &-#{$i + 1} {
        .custom--radio-rating {
          &:nth-child(-n + #{$i + 1}) {
            color: $primary;
          }
        }
      }
    }
  }
  &-lg {
    font-size: 1.25rem;
  }

  &-white {
    color: $gray-300;
    // color: red;

    @for $i from 0 through 4 {
      &.star-#{$i + 1} {
        [class^="ic-"],
        [class*=" ic-"] {
          &:nth-child(-n + #{$i + 1}) {
            color: $white;
          }
        }
      }
    }
  }
}

.btn-group {
  > * {
    @include flex(inline-flex, center, center);
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    color: $gray-400;

    &:hover {
      &:not(.slick-disabled) {
        color: $primary;
      }
    }

    &.slick-disabled {
      color: $gray-200;

      &:hover {
        cursor: not-allowed;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.amount {
  &-discount {
    font-size: 0.75rem;
    color: $gray-400;
    text-decoration: line-through;
    margin-left: 0.5rem;
  }
}

.pagination {
  .page {
    &-item {
      line-height: 1;

      &:not(:last-child) {
        margin-right: 0.25rem;
      }
    }

    &-link {
      @include flex(inline-flex, center, center);
      min-width: 2rem;
      height: 2rem;
    }
  }
}

.breadcrumb {
  font-size: 0.875rem;

  li {
    &.active {
      color: $gray-500;
    }
    &:not(.active) {
      a {
        color: $info;

        &:hover {
          color: $info;
          text-decoration: underline;
        }
      }
    }
  }
}

.progress {
  &-wrapper {
    width: 7.75rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: $gray-100;
    overflow: hidden;
  }

  &-bar {
    height: 100%;
    border-radius: 0.25rem;
    background-color: $primary;
  }
}

.message {
  max-width: 20.5rem;
  margin: 0 auto;
  text-align: center;

  &--success {
    .icon {
      @include flex(inline-flex, center, center);
      @include shape(circle, 4rem, $white);
      font-size: 2rem;
      color: $success;
      border: 1px solid $gray-100;
      margin-bottom: 1.5rem;
    }
  }
  &--primary {
    .icon {
      @include flex(inline-flex, center, center);
      @include shape(circle, 4rem, $white);
      font-size: 2rem;
      color: $primary;
      border: 1px solid $gray-100;
      margin-bottom: 1.5rem;
    }
  }
}

hr {
  margin: 1rem 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: $gray-100;
}

.position-sticky {
  @include position(sticky, 76px);
}

.or {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem 0;

  span {
    position: relative;
    padding: 0 0.5rem;
    color: $gray-500;
    font-size: 0.875rem;
    background-color: $white;
  }

  &::before {
    @include pseudo("", absolute, 100%, 1px);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $gray-100;
  }
}

.overlay {
  @include position(absolute, 0, null, null, 0);
  background-color: rgba($black, 0.56);
  width: 100%;
  height: 100%;
  z-index: 90;
  display: none;
}

.overlaying {
  overflow: hidden;
  .overlay {
    display: block;
  }
}

.icon-on {
  &-right {
    @include flex(inline-flex, center);

    span {
      margin-right: 0.5rem;
    }

    [class^="ic-"],
    [class*=" ic-"] {
      font-size: 0.75rem;
      transition: 0.25s transform $time-func-1;
    }
  }
}
.link {
  &--add {
    cursor: pointer;
    text-align: center;
    p {
      font-size: 14px;
      color: $gray-500;
      margin-top: 1rem;
    }
  }
  &--footer {
    margin-top: 1.5rem;
    a {
      color: $info;
      font-size: 0.75rem;
      &:not(:last-child) {
        border-right: 1px solid $gray-200;
        padding-right: 0.5rem;
      }
      &:not(:first-child) {
        padding-left: 0.5rem;
      }

      @include hover {
        color: $primary;
      }
    }
  }

  &-back {
    font-size: 0.675rem;
    margin-top: 0;
  }
}
.cursor{
  &-pointer{
    cursor: pointer;
  }
}
.align{
  &-vertical{
    display: flex;
    align-items: center;
  }
}
