.alert {
  @include flex(flex, flex-start);
  font-size: $alert-font-size;

  &-default {
    background-color: $gray-50;
    border-color: $gray-50;
    color: $gray-500;
  }

  [class^="ic-"],
  [class*=" ic-"] {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: $dark;
  }

  &-panel {
    position: fixed;
    width: 100%;
    left: 0;
    transform: translateY(0);
    z-index: 80;
    transition: 0.25s transform $time-func-1;

    &.closed {
      transform: translateY(100%);
    }

    &-primary {
      background-color: $primary;
      color: $white;

      .form-control {
        background-color: transparent;
        border-color: $white;
        color: $white;

        &::placeholder {
          color: rgba($white, 0.48);
        }
      }
    }

    &-bottom {
      padding: 1.5rem 0;
      bottom: 0;
    }

    .gift {
      &--form {
        .form-group {
          margin-bottom: 0;
        }

        @include media-breakpoint-down(md) {
          .form-group {
            margin-bottom: 1rem;
          }
        }
      }
    }

    .btn-icon-only {
      @include position(absolute, 1rem, 1rem);
      border-radius: 50%;
      background-color: transparent;
      color: $white;
      font-size: 1rem;
      z-index: 2;

      @include media-breakpoint-down(sm) {
        right: 0.25rem;
      }
      &:hover {
        background-color: rgba($white, 0.12);
        color: $white;
      }
    }
  }
  &-message {
    border: 1px dashed;
    padding: 0.5rem;
    @each $label, $value in $theme-colors {
      &.alert-#{$label} {
        color: $value;
        border-color: $value;
        // background-color: rgba($value, 0.24);
      }
    }
  }
}
