.badge {
  &-info {
    background-color: $info-light;
    color: $info;
  }

  &-success {
    background-color: $success-light;
    color: $success-dark;
  }

  &-warning {
    background-color: $warning-light;
    color: $warning;
  }

  &-danger {
    background-color: $danger-light;
    color: $danger;
  }
  &-md {
    padding: 0.5rem;
    i {
      font-size: 10px;
    }
  }

  &-count {
    @include position(absolute, 0, -0.5rem);
    // padding: 0.125rem 0.5rem;
    border: 1px solid $navbar-bg-color;
    font-size: 0.75rem;
  }
}
