.btn {
  &-icon {
    line-height: $btn-line-height;
    display: inline-flex;
    align-items: center;

    [class^="ic-"],
    [class*=" ic-"],
    svg {
      @include rfs(12px);
      vertical-align: middle;
    }

    svg {
      width: 0.875rem;
      height: 0.875rem;
    }

    &.lft {
      [class^="ic-"],
      [class*=" ic-"],
      svg {
        margin-right: 0.5rem;
      }
    }

    &.rft {
      [class^="ic-"],
      [class*=" ic-"],
      svg {
        margin-left: 0.5rem;
      }
    }
  }

  &-outline {
    &-gray {
      border-color: $gray-300;
      color: $gray-300;
    }

    &-default {
      border-color: $gray-100;

      &:hover {
        border-color: $primary;
      }
    }
  }

  &-white {
    background-color: $white;
    color: $primary;
  }
  &-filter {
    padding: 1rem;
    min-width: 24.5rem;
    position: absolute;
    right: 0;
    top: 28px;
    left: unset;
    transform: none;
  }
}
