.card {
  &-header {
    padding: $card-header-spacer;
  }
  &--options {
    border: 1px solid $gray-200;
    transition: 0.25s border-color $time-func-1;
    .card {
      &-body {
        padding: 1.5rem 1rem 1rem;
      }

      &-heading {
        padding-bottom: 1rem;
        border-bottom: 1px solid $gray-200;
      }

      &-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        li {
          font-size: 0.75rem;
          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
  &-label {
    width: 100%;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &-input {
    &:checked {
      + .card {
        border-color: $primary;
      }
    }
  }

  &-withTag {
    position: relative;
    .tag {
      position: absolute;
      top: -1px;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      background-color: $primary;
      padding: 0.125rem 0.5rem;
      border-radius: 0 0 4px 4px;
      font-size: 0.625rem;
    }
  }

  &--profile {
    margin-bottom: 1rem;

    .card {
      &-title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $gray-100;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;

        .link--edit {
          color: $info;
          font-size: 0.75rem;
          [class^="ic-"],
          [class*=" ic-"] {
            margin-right: 0.5rem;
            font-size: 0.875rem;
          }
        }
      }

      &-info {
        font-size: 0.875rem;
        .label {
          font-size: 0.75rem;
          font-weight: 500;
          color: $gray-500;
          text-transform: uppercase;
          margin-bottom: 0;
        }
        .muted {
          color: $gray-300;
        }

        &-bordered {
          border-bottom: 1px solid $gray-100;
          padding-bottom: 1rem;
        }
      }

      &-body {
        padding: 1rem;
      }
    }
  }
  &-bordered {
    border: 1px solid $primary;
  }
  &-dashed {
    border: 1px dashed $gray-200;
  }

  &--add {
    height: 100%;
    width: 100%;
    .card {
      &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &--order {
    border-radius: 6px;
    height: 100%;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    .card {
      &-body {
        padding: 1rem;

        .product {
          &--cart {
            .list {
              padding-top: 0;
              border-top: 0;
              li {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
                > * {
                  &:nth-child(2) {
                    @include media-breakpoint-down(sm) {
                      padding: 0.5rem 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &-heading {
        display: flex;
        justify-content: space-between;
        color: $gray-500;
        font-size: 0.75rem;
        border-bottom: 2px solid $gray-100;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        .title {
          font-size: 0.75rem;
          font-weight: 500;
          margin-bottom: 0.25rem;
        }
      }
    }
  }

  &--cancel {
    .card {
      &-body {
        padding: 0.75rem 1rem;
        .title {
          @include rfs(16);
          color: $gray-700;
        }
        .list {
          max-height: 10rem;
          overflow-y: auto;
        }
      }
    }
  }
}
