.custom {
  &-control {
    &-label {
      color: $gray-600;

      &::before {
        border-color: $custom-checkbox-indicator-border-color;
      }
    }
  }
}

//input range plugin
.noUi {
  &-target {
    height: 0.625rem;
  }
  &-horizontal &-handle {
    width: 0.875rem;
    height: 0.875rem;
    right: -10px;
    top: -3px;
    border-radius: 50%;

    &::after,
    &::before {
      display: none;
    }
    &:focus {
      outline: unset;
    }
  }
  &-connect {
    background: $primary;
  }
}
