.dropdown {
  &-menu {
    box-shadow: $dropdown-box-shadow;
  }
  &-filter {
    padding: 1rem;
    min-width: 12rem;
    position: absolute;
    right: 0;
    top: 28px;
    left: unset;
    transform: none;
    background-color: white;
  }
  .dropdown--cart {
    min-width: 256px;
    padding: 0;
    .list--cart {
      li {
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }
}
