.custom {
  &--radio {
    &-color {
      position: relative;

      .custom--radio {
        &-input {
          @include position(absolute, null, null, null, 0);
          z-index: -1;
          width: 1rem;
          height: 1.25rem;
          opacity: 0;

          &:checked {
            & + .custom--radio-label {
              border-color: $primary;
            }
          }
        }

        &-label {
          @include shape(circle, 2rem, $white);
          border: 1px solid $gray-100;
          padding: 0.25rem;
          margin-bottom: 0;
        }

        &-circle {
          @include shape(circle, 100%);
          display: inline-block;
        }
      }
    }

    &-size {
      position: relative;

      .custom--radio {
        &-input {
          @include position(absolute, null, null, null, 0);
          z-index: -1;
          width: 1rem;
          height: 1.25rem;
          opacity: 0;

          &:checked {
            & + .custom--radio-label {
              border-color: $primary;
              background-color: $primary;
              color: $white;
            }
          }
        }

        &-label {
          //
          background-color: white;
          @include flex(inline-flex, center, center);
          border: 1px solid $gray-100;
          padding: 0.25rem 0.5rem;
          margin-bottom: 0;
          font-size: 0.875rem;
        }
      }
    }

    &-payment {
      position: relative;

      .custom--radio {
        &-input {
          @include position(absolute, null, null, null, 0);
          z-index: -1;
          opacity: 0;

          &:checked {
            & + .custom--radio-label {
              border-color: $primary;
            }
          }
        }

        &-label {
          @include flex(inline-flex, center, center);
          border: 1px solid $gray-100;
          padding: 1rem;
          margin-bottom: 0;
          font-size: 0.875rem;

          img {
            height: 1.75rem;
            object-fit: contain;
            object-position: center;
          }

          [class^="ic-"],
          [class*=" ic-"] {
            color: $primary;
            font-size: 1.5rem;
            margin-right: 0.5rem;
          }
        }
      }
    }

    &-rating {
      position: relative;

      .custom--radio {
        &-input {
          @include position(absolute, null, null, null, 0);
          z-index: -1;
          width: 1rem;
          height: 1.25rem;
          opacity: 0;
        }

        &-label {
          font-size: 0.875rem;
          cursor: pointer;
        }
      }
    }
  }

  &--checkbox {
    &-color {
      position: relative;

      .custom--checkbox {
        &-input {
          @include position(absolute, null, null, null, 0);
          z-index: -1;
          width: 1rem;
          height: 1.25rem;
          opacity: 0;

          &:checked {
            & + .custom--checkbox-label {
              border-color: $primary;
            }
          }
        }

        &-label {
          @include shape(circle, 2rem, $white);
          border: 1px solid $gray-100;
          padding: 0.25rem;
          margin-bottom: 0;
        }

        &-circle {
          @include shape(circle, 100%);
          display: inline-block;
        }
      }
    }
  }
  &-form {
    &-inline {
      display: flex;
      align-items: center;
      font-size: 0.75rem;
      label {
        margin-right: 0.5rem;
        white-space: nowrap;
        // font-size: 0.75rem;
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.input {
  &-group {
    .custom--checkbox-color,
    .custom--radio-color,
    .custom--radio-size,
    .custom--radio-payment {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  &--quantity {
    max-width: 9rem;
    &_sm {
      @extend .input--quantity;
      max-width: 6rem;
      margin-left: auto;
      border: 1px solid #e0e0e0;
      border-radius: 0.25rem;
    }
    .form-control {
      text-align: center;
      -moz-appearance: textfield;
      border-left: 0;
      border-right: 0;
      padding-left: 0.25rem;
      padding-right: 0.25rem;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    #decrease {
      border-right: 0;
    }

    #increase {
      border-left: 0;
    }
  }

  &-with {
    &-icon {
      position: relative;

      &.icon-right {
        &:not(.icon-left) {
          .form-control {
            padding-right: 2.5rem;
          }

          > .btn {
            @include position(absolute, 50%, 0.5rem);
            transform: translateY(-50%);
            font-size: 1.25rem;
          }

          > [class^="ic-"],
          [class*=" ic-"] {
            @include position(absolute, 50%, 1rem);
            transform: translateY(-50%);
            font-size: 1rem;
          }
        }
      }

      &.icon-left {
        &:not(.icon-right) {
          .form-control {
            padding-left: 2.5rem;
          }

          > .btn {
            @include position(absolute, 50%, null, null, 0.5rem);
            transform: translateY(-50%);
            font-size: 1rem;
          }

          > [class^="ic-"],
          [class*=" ic-"] {
            @include position(absolute, 50%, null, null, 1rem);
            transform: translateY(-50%);
            font-size: 1rem;
          }
        }
      }
    }
  }
}

label {
  font-size: 0.875rem;
}

.files {
  &--upload {
    position: relative;
    height: 100%;
    border: 1px dashed $gray-200;
    border-radius: 6px;
    padding: 0.5rem;
    transition: border-color 0.25s $time-func-1;
    display: flex;
    align-items: center;
    justify-content: center;

    .imagePlaceholder {
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      width: 100%;
      height: 100%;

      pointer-events: visible;
      display: none;

      &:before {
        content: "\e948";
        font-family: "icomoon" !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        font-size: 32px;
        color: $blue;
        opacity: 0;
        transition: 0.2s ease-in opacity, 0.2s ease-in transform;
      }

      img {
        max-width: 100%;
      }

      &:hover {
        filter: brightness(0.8);
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
      border-color: $blue;

      .imagePlaceholder {
        &:before {
          transform: translate(-50%, -50%) rotate(360deg);
          opacity: 1;
        }
      }
    }

    label {
      color: $gray-400;
      font-size: 0.75rem;
      text-align: center;
      cursor: pointer;
      [class^="ic-"],
      [class*=" ic-"] {
        font-size: 0.75rem;
      }
    }
  }
}

.form {
  label {
    color: $gray-32;
  }
  &-check {
    cursor: pointer;
    &-label {
      cursor: pointer;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  color: red;
  font-size: 11.11px;

  [class^="ic-"],
  [class*=" ic-"] {
    font-size: 13.33px;
    color: red;
    margin-right: 0.625rem;
  }
}

input[type="range"]::-webkit-slider-thumb {
  background: $gray-100;
}
