.img {
  &-xs {
    width: 2rem;
    height: 0.75rem;
    object-fit: contain;
  }
  &-sm {
    width: 3rem;
    height: 3rem;
    // background-color: $gray-50;
    // padding: 0.5rem;
    margin-right: 0.75rem;
    flex-shrink: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &-md {
    width: 3.5rem;
    height: 3.5rem;
    background-color: $gray-50;
    padding: 0.5rem;
    margin-right: 0.75rem;
    flex-shrink: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &--review {
    height: 4rem;
    width: 3.5rem;
    border: 1px solid $gray-50;
    padding: 0.25rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  background: rgba($gray-900, 0.08);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
  }
}

// for zoom effect
.zoom-image {
  &:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
.zoomImg {
  background: $gray-50;
  cursor: crosshair;
}
