.list {
  --circle-width: 2rem;
  --inner-circle-width: 1.5rem;
  --circle-inactive: #ccc;
  --visited-color: #1e9e09;
  --unvisited-color: #e0e0e0;
  --line-color: #a3a3a3;
  --side-spacing: 2.5rem;

  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &-inline {
    display: flex;
    align-items: center;

    li {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    &.list-separator {
      li {
        &:not(:last-child) {
          margin-right: 0.5rem;
          padding-right: 0.5rem;
          border-right: 1px solid $gray-100;
        }
      }
    }
  }

  &-separator {
    &:not(.list-inline) {
      > li {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid $gray-100;
        }
      }
    }
  }

  &--socials {
    margin-top: 3rem;

    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }

    li {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    .social--link {
      @include flex(inline-flex, center, center);
      @include shape(circle, 1.5rem, $gray-100);
      color: $dark;
      padding: 0.25rem;
      font-size: 1rem;
      transition: 0.25s background-color $time-func-1, 0.25s color $time-func-1;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }

  &--rating {
    .custom-control-label {
      @include flex(flex, center);

      .star {
        margin-right: 0.5rem;
      }
    }
  }

  &--badge {
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
    li {
      line-height: 1;

      &:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
  }

  &--answer {
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 0.5rem;
    }
    li {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
        @include media-breakpoint-down(sm) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &--shipping {
    font-size: 0.875rem;

    > * {
      @include flex(flex, null, space-between);

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }

      .content {
        @include flex(inline-flex);

        [class^="ic-"],
        [class*=" ic-"] {
          font-size: 1rem;
          margin-right: 0.5rem;
          color: $gray-500;
          margin-top: 0.125rem;
        }
      }
    }
  }

  &--filtered {
    flex-wrap: wrap;
    margin-bottom: 1rem;

    li {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    .badge--filter {
      @include flex(inline-flex, center);
      padding: 0.25rem 0.5rem;
      background-color: rgba($primary, 0.16);
      color: $primary;
      font-size: 0.874rem;

      .remove-filter {
        font-size: 0.75rem;
        margin-left: 0.5rem;
      }
    }
  }

  &--card {
    display: flex;
    align-items: center;
    li {
      border: 1px solid $gray-200;
      border-radius: $g-border-radius;
      padding: 0.5rem;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  &--image {
    li {
      height: 75px;
      width: 75px;
    }
    .image {
      border-radius: $g-border-radius;
      background-color: $gray-50;
      position: relative;
      // height: 100%;
      // width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      [class^="ic-"],
      [class*=" ic-"] {
        @include rfs(32);
        color: $gray-400;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .btn {
      &-upload {
        width: unset;
        display: flex;
        height: 100%;
        align-items: center;
      }
    }

    .close {
      position: absolute;
      top: 2px;
      right: 2px;
      height: 12px;
      width: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 50%;
      opacity: 1;
      cursor: pointer;
      [class^="ic-"],
      [class*=" ic-"] {
        font-size: 0.375rem;
        color: $gray-500;
      }
    }
  }

  &-dotted {
    color: $gray-600;
    font-size: 0.75rem;
    li {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &:before {
        content: "";
        width: 4px;
        height: 4px;
        display: inline-block;
        background: $primary;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }

  &--contact {
    li {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
        @include media-breakpoint-down(md) {
          margin-bottom: 1rem;
        }
      }
      .label {
        color: $gray-500;
        font-size: 0.875rem;
      }
      .value {
        color: $info;
        font-size: 1rem;
        display: block;
        margin: 0.5rem 0 0.25rem;
        &.small {
          font-size: 0.875rem;
        }
      }
      .detail {
        color: $gray-400;
        font-size: 0.75rem;
      }
      .list-inline {
        li {
          margin-bottom: 0;
          a {
            display: block;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }

  &-multistep {
    max-width: 600;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    min-width: 200px;

    li {
      width: 100%;
      display: flex;
      flex-direction: column;
      // padding-bottom: -1.5rem;
      position: relative;
      .circle {
        position: relative;
        z-index: 2;
        width: var(--circle-width);
        height: var(--circle-width);
        background-color: white;
        border-radius: 50%;
        flex-shrink: 0;
        margin: 8px auto 0.5rem auto;
        border: 1px solid var(--circle-inactive);
        &::after {
          content: " ";

          width: var(--inner-circle-width);
          height: var(--inner-circle-width);
          border-radius: 50%;
          background-color: var(--circle-inactive);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      span {
        text-align: center;
        color: gray;
        margin-top: 2rem;
      }

      &:not(:last-child) {
        &:after {
          content: "";
          width: 80%;
          height: 3px;
          display: block;
          background-color: var(--circle-inactive);
          position: absolute;
          left: 100%;
          transform: translateX(-50%);
          top: 1.5rem;
        }
        &:first-child {
          &:after {
            z-index: 1;
          }
        }
      }
      &.visited {
        &:after {
          background-color: var(--visited-color);
        }

        .circle {
          border: 1px solid var(--visited-color);
          &:after {
            background-color: var(--visited-color);
          }
        }
      }
      &.active {
        .circle {
          border: 1px solid var(--visited-color);
          &:after {
            background-color: var(--visited-color);
          }
        }
        span {
          color: var(--visited-color);
        }
      }
    }
  }

  &-btn {
    li {
      font-size: 0.75rem;
      font-weight: normal;

      &:not(:last-child) {
        border-right: 1px solid $gray-100;
        margin-right: 0.5rem;
        padding-right: 0.5rem;
      }

      [class^="ic-"],
      [class*=" ic-"] {
        margin-right: 0.5rem;
      }
    }
  }
  &--cart {
    li {
      padding: 1rem;
      font-size: 0.75rem;
      display: flex;
      justify-content: space-between;
      line-height: 1.5;

      &:not(:first-child) {
        border-top: 1px solid $cool-gray-60;
      }
      &:not(:last-child) {
        margin-right: 0;
      }

      .title {
        color: $gray-500;
        margin-bottom: 0.25rem;
        // width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      h3 {
        margin-bottom: 0;
      }
    }
  }

  &-submenu {
    padding-left: 0.5rem;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    li {
      padding: 0.25rem 0;
    }
  }
  &--bullet {
    margin: 1rem 0;
    li {
      position: relative;
      font-style: normal;
      font-weight: normal;
      @include rfs(16);
      line-height: 180%;
      &:before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        background-color: $secondary;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0.75rem;
        left: 0;
      }
      padding-left: calc(0.5rem + 1rem);
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
    a {
      box-shadow: 0px 4px 8px rgba(196, 218, 255, 0.48),
        0px 16px 32px rgba(196, 218, 255, 0.48);
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
      color: map-get($brand-color, secondary);
      // font-family: $font-family-display;
      font-weight: 500;
      @include rfs(22);
      &.active {
        box-shadow: none;
      }
    }
  }

  &--numbered {
    li {
      display: flex;
      color: $gray-500;
      @include rfs(14);
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      .marker {
        &::after {
          content: ".";
          margin-right: 0.25rem;
        }
      }
    }
  }
}

.accordion {
  [data-toggle="collapse"] {
    @include flex(flex, center, space-between);
    width: 100%;

    .ic-chevron-down {
      transition: 0.25s transform $time-func-1;
    }

    &[aria-expanded="true"] {
      .ic-chevron-down {
        transform: rotate(180deg);
      }
    }
  }

  > .card {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &:not(:last-of-type) {
      border-bottom: $card-border-width solid $card-border-color;
    }

    .card-header {
      background-color: $white;
      font-weight: $font-medium;
      border-bottom: 0;
      transition: 0.25s background-color $time-func-1;

      &:hover {
        background-color: $gray-50;
        cursor: pointer;
      }
    }
  }
  &-btn {
    padding: 0.5rem 1rem;
    h4 {
      margin: 0;
    }
  }
  &-collapse {
    @include media-breakpoint-down(md) {
      padding: 0.5rem 1rem 0;
    }
  }
  &-sm {
    > .card {
      // border-radius: 0.375rem;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      .card-header {
        padding: 0.75rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        color: $gray-700;
      }
      .card {
        &-body {
          color: $gray-500;
          font-size: 0.875rem;
          padding: 0 1rem 0.75rem;
          li {
            padding-top: 0.5rem;
            border-top: 1px solid $gray-100;
          }
          p {
            &:not(:last-child) {
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}
