.modal {
  &-header {
    background-color: $blue-200;
    .close {
      color: $gray-16;
      font-weight: 400;
      &:focus-visible {
        outline: none;
      }
    }
  }
  &-title {
    @include rfs(1rem);
    font-weight: $font-medium;
    color: $primary;
  }
  &-overlay {
    .modal-dialog {
      position: fixed;
      top: 0;
      bottom: 0;
      right: calc(-1 * var(--modal-overlay-size));
      height: 100%;
      margin: 0;
      width: var(--modal-overlay-size);
      transition: all 0.3s ease-in-out;
      @include media-breakpoint-down(xs) {
        max-height: 600px;
        width: 100%;
        bottom: 0;
        margin-top: auto;
        height: auto;
      }
    }
    &.show {
      .modal-dialog {
        right: 0;
      }
    }
    &.accordion-problem {
      .modal-dialog {
        box-shadow: -4px 0px 16px rgba(0, 0, 0, 0.08);
        @include media-breakpoint-up(sm) {
          width: var(--overlay-width);
          height: 100%;
        }
      }
    }
    .modal-content {
      height: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .modal-body {
      overflow-y: auto;
      @include scrollable;
      @include media-breakpoint-down(xs) {
        height: calc(100% - 7rem - 1rem);
        overflow: auto;
        flex: none;
      }
    }
  }

  &-footer {
    padding: map-get($modal, footerPadding);
    button {
      margin: 0;
      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }
  &-borderless {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08),
      0px 8px 16px rgba(0, 0, 0, 0.08);
    .modal {
      &-header {
        border-bottom: none;
        align-items: center;
      }
      &-footer {
        border-top: none;
      }
    }
  }

  &-nofooter {
    .modal {
      &-content {
        padding-bottom: 1.5rem;
      }
    }
  }

  &-deleteDialog {
    .modal {
      &-header {
        border: none;
        [class^="ic-"],
        [class*=" ic-"] {
          color: $gray-500;
        }
      }
      &-body {
        text-align: center;
        padding-bottom: 3rem;

        [class^="ic-"],
        [class*=" ic-"] {
          font-size: 40px;
        }

        .title {
          color: $red;
          margin-top: 1.75rem;
          font-size: 16px;
        }
        .msg {
          color: $cool-gray-600;
          margin: 0.5rem 0 1.5rem;
          font-size: 14px;
        }
      }
      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
          &-default {
            color: $cool-gray-600;
          }
          &:not(:first-child) {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
