.notification{
    position: relative;
    &-wrapper{
        width: 28rem;
        cursor: default;
    }
    &-list{
        li{
            padding: 1rem;
            background-color: white;
            cursor: pointer;
            &:not(:last-child){
                border-bottom: 1px solid $border-color;
                margin-right: 0;
            }
            &:hover{
                // background-color: $blue-96;
            }
            .icon{
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 50%;
                background-color: $border-color;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }
    }
    &-dot{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 6px;
        width: 6px;
        background-color: $red;
        border: 1px solid white;
        border-radius: 50%;
        // @include small;
    }
 
}