.popover {
  border: none;
  max-width: 400px;

  @include media-breakpoint-down(md) {
    max-width: 200px;
  }

  filter: drop-shadow(0px 4px 8px rgba(37, 38, 39, 0.08))
    drop-shadow(0px 2px 4px rgba(37, 38, 39, 0.08));
  &-body {
    padding: 0.5rem;
    .image {
      &-wrapper {
        border: 1px solid $gray-100;
        border-radius: 0.25rem;
        height: auto;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
