.slider {
  &--hero {
    .slick {
      &-list,
      &-track {
        height: 100%;
      }

      &-track {
        display: flex;
      }

      &-slide {
        margin: 0 0.75rem;
        height: auto;

        @include media-breakpoint-down(xxl) {
          width: 64rem;
        }

        @include media-breakpoint-down(lg) {
          width: 46.5rem;
        }
        @include media-breakpoint-down(sm) {
          width: 31rem;
        }

        > div {
          height: 100%;
        }
      }
    }

    .item {
      position: relative;
      height: 100%;
      text-align: center;

      .slider-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .slider-caption {
      @include position(absolute, 50%, 0);
      transform: translateY(-50%);
      text-align: left;
      width: 15.625rem;
      background-color: $white;
      padding: 1.5rem;
      box-shadow: -1rem 1rem 0 $primary;

      @include media-breakpoint-down(sm) {
        padding: 1rem;
        box-shadow: none;
      }
    }

    @include media-breakpoint-down(lg) {
      margin: 0 -0.75rem;
    }
  }

  &--wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &--products {
    margin: 0 -0.75rem;

    .slick {
      &-slide {
        margin: 0 0.75rem;
      }
      &-products {
        margin-left: 0;
      }
      &-track {
        margin-left: 0;
      }
    }

    &-detailNav {
      margin-top: 1rem;

      .product {
        width: 4rem;
        margin: 0 auto;
        padding: 0.25rem;
        background-color: $white;
        border: 1px solid $gray-100;

        &:hover {
          cursor: pointer;
          border-color: $gray-300;
        }
        @include media-breakpoint-down(lg) {
          width: 3rem;
        }

        @include media-breakpoint-down(md) {
          width: 4rem;
        }
      }

      .slick {
        &-current {
          .product {
            border-color: $primary;
          }
        }

        &-slide {
          &:not(:last-child) {
            margin-right: 0.5rem;
          }
        }
      }
    }

    &-onCart {
      margin: 0 -0.75rem;

      .slick {
        &-slide {
          margin: 0 0.75rem;
        }
        &-track {
          margin-left: 0;
        }
      }
    }

    &-category {
      .slick-track {
        margin-left: 0;
      }
    }
    &-categories {
      .slick {
        &-slide {
          // margin: 0 1rem;
        }
        &-arrow {
          background-color: white;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          z-index: 1;
        }
        &-prev {
          left: -4px;
          &:before {
            content: "\e909";
            font-family: "ecofont";
            color: $primary;
            font-size: 0.75rem;
          }
        }
        &-next {
          right: -4px;
          &:before {
            content: "\e90a";
            font-family: "ecofont";
            color: $primary;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

.slide {
  &-next,
  &-prev {
    @include position(absolute, 0, null, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($black, 0.32);
    backdrop-filter: blur(0.5rem);
    color: $white;
    font-size: 2rem;
    transition: 0.25s background-color $time-func-1;

    @include media-breakpoint-down(xxl) {
      width: 5.75rem;
    }

    @include media-breakpoint-down(xl) {
      width: 4.5rem;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    &:hover {
      color: $white;
      text-decoration: none;
      background-color: rgba($black, 0.5);
    }
  }

  &-next {
    right: 0;
  }

  &-prev {
    left: 0;
  }
  &--wrapper {
    outline: none;
  }
}
.slick {
  &-slide {
    a {
      &:focus {
        outline: none;
      }
    }
  }
}
