.table {
  td {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-light {
    background-color: white;
    thead {
      color: $gray-500;
      font-weight: 500;
      font-size: 0.75rem;
      background-color: white;
      text-transform: uppercase;
      th {
        border: none;
        border-bottom: 2px solid $cool-gray-60;
      }
    }
    tbody {
      font-size: 0.75rem;
      tr {
        &:not(:last-child) {
          border-bottom: 1px solid $cool-gray-60;
        }
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      display: block;
      color: $gray-400;

      @include hover {
        color: $info;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
      [class^="ic-"],
      [class*=" ic-"] {
        font-size: 0.875rem;
      }
    }
  }
  &-accordion {
    td {
      padding: 1.5rem 0;
      border-bottom: 1px solid #e0e0e0;
    }
    &-wrapper {
      .dataTables_paginate {
        text-align: center;
        margin-top: 1.5rem;
        .paginate_button {
          padding: 0.25rem 0.25rem;
          margin-left: 0;
          line-height: 1.25;
          color: #0a0a0a;
          background-color: #fff;
          border: 0 solid rgba(0, 0, 0, 0);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          min-width: 2rem;
          height: 2rem;
          cursor: pointer;
          @include hover {
            &:not(&.current) {
              background-color: $gray-50;
              color: $primary;
            }
          }
          &:focus {
            outline: none;
          }
          &:not(:last-child) {
            margin-right: 0.25rem;
          }
          &.current {
            background-color: $primary;
            border-color: $primary;
            color: white;
          }
        }
        span {
          a {
            margin-right: 0.25rem;
          }
        }
      }
    }
  }
}
