body.auth{
  padding-bottom: 0;
}

.auth{
  &--container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &--wrapper{
    flex-grow: 1;
    width: 20.5rem;
    margin: 0 auto;
    padding: 4.5rem 0 3rem 0;
  }

  &--logo{
    text-align: center;
    margin-bottom: 3rem;
  }

  &--head{
    margin-bottom: 1.5rem;
  }

  &--social{
    &-login{
      .btn{
        position: relative;
        
        [class^="ic-"], [class*=" ic-"], img, svg{
          @include position(absolute, 50%, null, null, 1rem);
          transform: translateY(-50%);
          font-size: 1rem;
        }

        .ic-fb-circle{
          color: #3B5999;
        }
      }
    }
  }

  &--footer{
    font-size: 0.75rem;
    padding: 1rem 0;
    border-top: 1px solid $gray-100;
  }

  &--terms{
    @include media-breakpoint-down(sm){
      justify-content: center;
      margin-bottom: 0.5rem;
    }
  }

  &--copyright{
    text-align: right;

    @include media-breakpoint-down(sm){
      text-align: center;
    }
  }
}