footer {
  // @include position(absolute, null, null, 0, 0);
  width: 100%;
  background-color: $white;
  margin-top: 3rem;
}

.footer {
  &--subscribe {
    background-color: $primary;
    color: $white;
    padding: 3rem 0;

    .input-group {
      max-width: 22rem;
      margin: 0 auto;

      .form-control {
        background-color: transparent;
        border-color: $white;
        color: $white;

        &::placeholder {
          color: rgba($white, 0.48);
        }
      }

      .btn {
        background-color: $white;
        color: $primary;
        padding-left: $btn-padding-y;
        padding-right: $btn-padding-y;
        display: inline-flex;
        align-items: center;
      }
    }
  }

  &--middle {
    padding-top: 3rem;
    padding-bottom: 2rem;

    @include media-breakpoint-down(md) {
      padding: 1.5rem 0;
    }
  }

  &--copyright {
    @include flex(flex, center, space-between);
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 0.75rem;
    color: $gray-500;
    border-top: 1px solid $gray-100;

    @include media-breakpoint-down(md) {
      padding-bottom: 1rem;
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;

      > span {
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }

    a {
      color: $gray-500;

      &:hover {
        color: $info;
      }
    }
  }

  &--links {
    font-size: 0.875rem;

    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
    > li {
      &:not(:last-child) {
        margin-bottom: 1rem;
        @include media-breakpoint-down(sm) {
          margin-bottom: 0.5rem;
        }
      }

      a {
        color: $gray-500;
        transition: 0.25s color $time-func-1;

        &:hover {
          color: $primary;
        }
      }
    }

    .list-head {
      text-transform: uppercase;
      font-weight: $font-medium;
    }
  }
}
