.info {
  &-bar {
    @include position(sticky, 4rem, null);
    background-color: $primary;
    color: white;
    padding: 0.5rem 0;
    font-size: 0.75rem;
    text-align: center;
    z-index: 97;

    .link-more {
      color: white;
      text-decoration: underline;
    }

    .container {
      position: relative;
    }

    &-close {
      position: absolute;
      top: 50%;
      right: 0.75rem;
      transform: translateY(-50%);
      text-decoration: none;
      font-size: 8px;
      color: white;
    }
    &.closed {
      // transform: translateY(-100%);
      // z-index: -1;
      // background-color: white;
      display: none;
    }
  }
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    color: $gray-600;
  }
  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}
