.navbar {
  background-color: $navbar-bg-color;
  color: $navbar-color;
  border-bottom: 1px solid $gray-100;
  height: 4rem;
  z-index: 99;

  &-sticky {
    position: sticky;
    top: 0;
    background-color: rgba($navbar-bg-color, 0.8);
    backdrop-filter: blur(16px);
  }
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    @include media-breakpoint-down(md) {
      justify-content: space-between;
    }
  }
  .list {
    line-height: 1;

    li {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &.nav-left {
      @include media-breakpoint-down(md) {
        display: none;
      }
      > li {
        &:not(:last-child) {
          margin-right: 1.5rem;
        }
        a{
          
          color: white;
        }
      }
    }
  }

  .nav {
    &-link {
      position: relative;
      padding: 0;
      color: white;
      padding: 1rem;
      font-size: 1.5rem;
      @include flex(inline-flex, center, center);
      @include shape(circle, 2.5rem);
      transition: 0.25s background-color $time-func-1;

      &:hover {
        // background-color: $primary;
        [class^="ic-"], [class*=" ic-"] {
          color: white;
        }
      }
    }
  }

  .menu--toggler {
    margin-left: 2rem;
  }
  &-collapse {
    @include position(fixed, 0, null, 0);
    height: 100vh;
    // padding: 2rem 1rem;
    background-color: $white;
    width: 400px;
    transition: 0.25s transform $time-func-1;

    z-index: 999;
    @include media-breakpoint-up(lg) {
      display: none;
    }
    @include media-breakpoint-down(md) {
      transform: translateX(-100%);
    }
    @include media-breakpoint-down(sm) {
      width: 300px;
    }
    li {
      > .hasSub {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 0;
        [class^="ic-"],
        [class*=" ic-"] {
          padding: 0.5rem;
          @include rfs(12);
          border-radius: 50%;
          transition: 0.25s transform $time-func-1;
          @include hover{
            background-color: $gray-100;
          }
          &[aria-expanded="true"] {
            transform: rotate(180deg);
          }
        }
      }
      a {
        @include rfs(14);
      }
    }
    .hasSub::after {
      display: none;
    }
    // .subMenu {
    //   cursor: pointer;
    //   margin-bottom: 0.25rem;
    //   a {
    //     @include rfs(14);
    //   }
    //   @include hover {
    //     > .hasSub {
    //       color: $primary;
    //     }
    //     > .subMenu-collapse {
    //       visibility: visible;
    //       opacity: 1;
    //       margin-top: 0.5rem;
    //       height: auto;
    //       transition: visibility 0.25s $time-func-2, opacity 0.25s $time-func-2;
    //     }
    //     > .hasSub {
    //       &:after {
    //         content: "\e90b";
    //       }
    //     }
    //   }
    // }
  }
  &-list {
    margin-top: 1rem;
    font-size: 1rem;
    margin-right: 0.5rem;
    padding: 0 1rem 1rem;
    &:first-child {
      height: 75vh;
    }

    > li {
      .active {
        color: $primary;
      }
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
    .hasSub {
      position: relative;
      padding-right: 0.75rem;

      &:after {
        content: "\e908";
        font-family: "ecofont";
        position: absolute;
        font-size: 0.5rem;
        top: 8px;
        right: 4px;
      }
      &[aria-expanded="false"] {
        &:after {
          content: "\e90b";
        }
      }

      li {
        margin-bottom: 0;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // height: 100%;
      overflow: scroll;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $gray-50;
    padding: 1rem;
    margin-right: 0;
  }

  &-brand {
    @include flex(flex,center);
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      @include media-breakpoint-down(sm) {
        height: 18px;
      }
    }
  }

  .subMenu {
    cursor: pointer;
    @include hover {
      .subMenu-collapse {
        visibility: visible;
        opacity: 1;
        margin-top: 1rem;
        height: auto;
        transition: visibility 0.25s $time-func-2, opacity 0.25s $time-func-2;
      }
      .hasSub {
        &:after {
          content: "\e908";
        }
      }
    }
  }

  .collapse {
    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

#navbarSearch {
  @include position(absolute, 50%, null, null, 50%);
  transform: translate(-50%, -50%);
  width: 48rem;
  transition: 0.25s opacity $time-func-1, 0.25s visibility $time-func-1;
  opacity: 0;
  visibility: hidden;

  @include media-breakpoint-down(lg) {
    width: 32rem;
  }
  @include media-breakpoint-down(md) {
    z-index: 99;
    width: 26rem;
  }
  @include media-breakpoint-down(sm) {
    width: 95%;
  }

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  .form-control {
    padding-left: 2.5rem;
    padding-right: 2rem;
  }

  .ic-search {
    @include position(absolute, 50%, null, null, 1rem);
    transform: translateY(-50%);
    font-size: 1rem;
    color: $gray-500;
  }

  #closeSearch {
    @include position(absolute, 50%, 0.5rem);
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: $gray-500;
  }
}

.dropdown {
  &-mega {
    display: none;
    @include position(absolute, 100%, null, null, 0);
    width: 100%;
    background-color: $white;
    border-top: 1px solid $gray-100;
    border-bottom: 1px solid $gray-100;
    z-index: 99;

    max-height: 100vh;
    overflow: auto;
  }

  &-megamenu {
    width: 100%;
    padding: 2rem 0;
    font-size: 0.875rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2.5rem;

    @include media-breakpoint-up(xxl) {
      grid-template-columns: repeat(5, 1fr);
    }

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    .megamenu {
      &-head {
        display: block;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $gray-100;
        font-weight: $font-medium;
      }
    }

    .list {
      &.collapse {
        li {
          &:not(:last-child) {
            margin-bottom: 1rem;
            margin-right: 0;
          }
        }
      }
      &--megamenu {
        li {
          &:not(:last-child) {
            margin-bottom: 1.5rem;
            margin-right: 0;
          }
        }

        a {
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
  &-profile {
    .dropdown {
      &-menu {
        padding: 1rem 0;
        a {
          @include rfs(14);
          padding: 0.5rem 1rem;
          // color: $gray-400;
          &:first-child {
            border-bottom: 1px solid $gray-100;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            p:first-child {
              @include rfs(16);
              color: $gray-700;
            }
          }
        }
      }
    }
  }
}

.caller {
  &.opened {
    color: $primary;

    > [class^="ic-"],
    [class*=" ic-"] {
      transform: rotate(180deg);
    }
  }
}
a {
  &.hasSub {
    position: relative;
    padding-right: 1.25rem;
    display: block;

    &:after {
      content: "\e90b";
      font-family: "ecofont";
      position: absolute;
      font-size: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
    }

    &[aria-expanded="false"] {
      &:after {
        content: "\e908";
      }
    }

    &.active {
      color: map-get($sidebar, linkActive);
      background-color: unset;
    }
    + .subMenu-collapse {
      visibility: hidden;
      opacity: 0;
      height: 0;
      margin: 0;
      transition: height 0.25s $time-func-1;
    }
  }
}
