.section {
  &--spacer {
    margin-top: 3rem;

    @include media-breakpoint-down(lg) {
      margin-top: 2rem;
    }
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
  }

  &--header {
    @include flex(flex, center, space-between);
    margin-bottom: 1.5rem;

    .breadcrumb {
      padding: 0;

      &-item {
        color: $info;

        &.active {
          color: $gray-500;
        }
      }
    }
  }

  &--hero {
    position: relative;
    height: 25rem;

    @include media-breakpoint-down(lg) {
      height: 30%;
    }
  }

  &--features {
    background-color: rgba($primary, 0.06);
    padding: 3rem 0;
    // border-top: 1px solid $gray-100;
    // border-bottom: 1px solid $gray-100;

    @include media-breakpoint-down(md) {
      padding: 2rem 0;
    }
    [class^="ic-"],
    [class*=" ic-"] {
      color: $primary;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  &--offer {
    img {
      height: 18rem;
    }

    .text-lead {
      text-transform: uppercase;
      margin-bottom: 0.25rem;

      &-sub {
        font-size: 0.875rem;
        color: $gray-500;
      }
    }
  }

  &--profile {
    .title {
      color: $gray-600;
      font-size: 1rem;
      &-desc {
        color: $gray-500;
        font-size: 0.875rem;
        margin-bottom: 2rem;

        @include media-breakpoint-down(md) {
          margin-bottom: 1rem;
        }
      }
    }

    .heading {
      .title {
        color: $gray-700;
      }
    }
  }

  &--review {
    .product {
      height: 124px;
      width: 124px;

      &--rating {
        margin-top: 3rem;

        @include media-breakpoint-down(sm) {
          margin-top: 1rem;
        }
        li {
          font-size: 1rem;
          [class^="ic-"],
          [class*=" ic-"] {
            font-size: 1.375rem;
          }
        }
      }
    }
  }

  &--flashsale {
    background-color: $primary;
    color: $white;
    padding: 1.5rem 0;

    .time {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      font-size: 0.875rem;

      &-box {
        height: 24px;
        width: 24px;
        background-color: $info-light;
        color: $gray-900;
        padding: 0.25rem;
        &:not(last-child) {
          margin-left: 0.5rem;
        }
      }
    }
    .product--details {
      margin-top: 1rem;
      li:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .discount {
        margin-left: 0.5rem;
        font-weight: normal;
        font-size: 0.75rem;
        text-decoration: line-through;
      }
    }
    .btn-group {
      > * {
        color: $gray-200;

        &:hover {
          &:not(.slick-disabled) {
            color: $secondary;
          }
        }

        &.slick-disabled {
          color: $gray-400;

          &:hover {
            cursor: not-allowed;
          }
        }
      }
    }
  }
  &--category {
    &-grid {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-column-gap: 1rem;
    }
  }

  &--terms-conditions {
    .nav-terms {
      border-bottom: 1px solid $gray-100;
      background: white;
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0.5rem;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 1020;
      .navbar-brand {
        position: unset;
        top: 0;
        left: 0;
        transform: unset;
        img {
          max-height: 3rem;
          @include media-breakpoint-down(sm) {
            max-height: 2rem;
          }
        }
      }
    }
    .borders {
      // border-bottom: 1px solid $border-color;
      padding-bottom: 2rem;
    }
    .textbox {
      margin-top: 2rem;
      h6,
      h4,
      h3,
      h2,
      h1 {
        color: map-get($brand-color, primary) !important;
      }
      h5 {
        font-style: normal;
        font-weight: 500;
        @include rfs(18);
        line-height: 130%;
        color: map-get($brand-color, primary) !important;
        margin-bottom: 0.75rem;
        margin-top: 1.75rem;
      }
      p {
        font-size: 1rem !important;
      }
      a {
        color: $dark;
        &:hover,
        &:focus {
          color: $primary !important;
          text-decoration: none;
        }
      }
      small {
        color: $secondary !important;
        font-style: italic;
        margin: 0.5rem 0;
        display: block;
      }
    }
    ul {
      padding-left: 0 !important;
      list-style: none !important;
      margin: 1rem 0 !important;
      li {
        position: relative;
        font-style: normal;
        font-weight: normal;
        @include rfs(16);
        line-height: 180%;
        &:before {
          content: "";
          width: 0.5rem;
          height: 0.5rem;
          background-color: $secondary;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: 0.75rem;
          left: 0;
        }
        padding-left: calc(0.5rem + 1rem);
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
      a {
        box-shadow: 0px 4px 8px rgba(196, 218, 255, 0.48),
          0px 16px 32px rgba(196, 218, 255, 0.48);
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        color: map-get($brand-color, secondary);
        font-weight: 500;
        @include rfs(22);
        &.active {
          box-shadow: none;
        }
      }
    }
    table {
      &.table-bordered {
        border: none;
        td {
          border: none;
          border-top: 1px solid $border-color;
        }
      }
      tr {
        &:first-child {
          background-color: $cool-gray-50;
          color: $cool-gray-600;
          td {
            font-size: 1rem !important;
          }
        }
      }
      td {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem !important;
      }
    }
  }
}

.category {
  &--link {
    display: block;
    position: relative;
    color: $white;
    height: 12rem;
    overflow: hidden;
    @include media-breakpoint-down(md) {
      &:last-child {
        margin-bottom: 1rem;
      }
    }

    &:hover {
      color: $white;

      img {
        transform: scale(1);
      }
    }

    &::before {
      @include pseudo("", absolute, 100%, 100%);
      top: 0;
      left: 0;
      background-color: rgba($black, 0.24);
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.3);
      transition: 0.25s transform $time-func-1;
    }
  }

  &--label {
    @include position(absolute, null, null, 1rem, 0);
    display: block;
    width: 100%;
    padding: 0 1.5rem;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
  }
}

.product {
  &-wrapper {
    display: inline-block;
    padding: 0.5rem 1rem 1rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
      border: none;
    }
  }
  // background-color: ;

  @include flex(flex, center, center);
  height: 200px;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &--details {
    margin-top: 0.5rem;

    .amount {
      font-weight: $font-medium;
    }
  }

  &--filter {
    height: 100%;
    border-right: 1px solid $gray-100;
    padding-right: 1rem;

    @include media-breakpoint-down(md) {
      border-right: none;
      padding-right: 0;
      border: 1px solid $gray-100;
      margin: 1rem 0 0;
      height: unset;
    }

    .list {
      li {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }

    .collapse {
      &.show {
        margin-bottom: 1rem;
      }
    }
  }

  &--list {
    .section--header {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }

    .grid {
      &-list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem 1rem;

        @include media-breakpoint-down(sm) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  &--info {
    margin-top: 1rem;

    .alert {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  &--title {
    @include flex(flex, flex-start, space-between);
    margin-top: 0.5rem;

    h2 {
      margin-right: 1.5rem;
    }

    .list-inline {
      li {
        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }
  }

  &--model {
    font-size: 0.875rem;
    color: $gray-500;
  }

  &--rating {
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }

  &--price {
    margin-top: 1rem;

    li {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &-final {
      font-size: 1.5rem;
      font-weight: $font-medium;
    }

    &-discount {
      color: $gray-400;
      text-decoration: line-through;
    }

    &-save {
      color: $success;
    }
  }

  &--color {
    .color {
      font-weight: $font-medium;
    }
  }

  &--color,
  &--size,
  &--quantity {
    margin-top: 1rem;

    label {
      font-size: 0.875rem;
    }
  }

  &--quantity {
    @include flex(flex, flex-end);
  }

  &--cart {
    > .list {
      border-top: 1px solid $gray-100;
      padding-top: 1rem;

      > li {
        display: grid;
        grid-template-columns: 1fr auto 7.75rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $gray-100;

        @include media-breakpoint-down(sm) {
          grid-template-columns: 1fr;
        }

        > * {
          &:nth-child(1) {
            margin-right: 1.5rem;
          }

          &:nth-child(2) {
            margin-right: 2rem;
            white-space: nowrap;
            @include media-breakpoint-down(sm) {
              padding: 0.5rem 0;
            }
          }

          &:nth-child(3) {
            text-align: right;
            white-space: nowrap;
            @include media-breakpoint-down(sm) {
              text-align: left;
            }
          }
        }
      }

      .product {
        width: 3.5rem;
        min-width: 3.5rem;
        padding: 0.25rem;
        background-color: $white;
      }
    }
  }

  &--summary {
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
    .head {
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $gray-100;
    }

    .table {
      tr {
        td {
          padding: 0.25rem;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }

    .input-group {
      .form-control {
        margin-right: 0.5rem;
      }
    }
  }

  &--img,
  &--summary {
    position: sticky;
    top: calc(76px + 1rem);
  }

  &-display {
    color: $gray-900;
    font-size: 0.75rem;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $border-color;
    }
    @include media-breakpoint-down(sm) {
      :not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    .title {
      font-size: 0.75rem;
      color: $gray-900;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      max-height: 2.25rem;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .font-light {
      color: $gray-500;
      font-weight: normal;
    }
    .product {
      &--price {
        &-discount,
        &-save {
          font-weight: 400;
        }
      }
    }
  }
}

.feature {
  &--label {
    max-width: 12rem;
    margin: 1rem auto 0 auto;
  }
}

.inner {
  &--header {
    position: relative;
    color: $white;

    &::before {
      @include pseudo("", absolute, 100%, 100%);
      background-color: rgba($black, 0.24);
    }

    &-display {
      height: 16.75rem;
    }

    &-content {
      @include position(absolute, null, null, 1.5rem, 1.5rem);
    }

    .breadcrumb {
      background-color: transparent;
      padding: 0;
      margin-bottom: 0;

      &-item {
        &.active {
          a {
            color: $white;

            &:hover {
              text-decoration: underline;
            }
          }
        }
        &:not(.active) {
          a {
            color: rgba($white, 0.8);
          }
        }

        &::before {
          color: $white;
        }
      }
    }
  }
}

.rating {
  text-align: center;

  > .count {
    margin-bottom: 0.25rem;
  }

  > .star {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  &--progress {
    .list {
      font-size: 0.875rem;

      > li {
        @include flex(flex, center);

        &:not(:last-child) {
          margin-bottom: 0.125rem;
        }

        .count,
        .progress-wrapper {
          margin-right: 0.5rem;
        }

        .count {
          font-family: monospace;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.notification {
  background: $gray-50;
  padding: 1rem;
  font-size: 0.875rem;
  color: $gray-500;
  margin-top: 2rem;
  @include media-breakpoint-down(md) {
    margin-top: 1rem;
  }
}
.order {
  &--summary {
    height: 100%;
    .head {
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $gray-100;
      font-size: 1rem;
    }
    .content {
      font-size: 0.75rem;
    }
    p {
      font-size: 0.75rem;
    }
    .table {
      tr {
        td {
          padding: 0.25rem;
          font-size: 0.75rem;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}
