.sidebar {
  &-list {
    height: 100%;
    border-right: 1px solid $gray-100;

    @include media-breakpoint-down(md) {
      border-right: none;
      margin-bottom: 1rem;
    }
    ul {
      margin-top: 0.25rem;
      @include position(sticky, 7.5rem, null, 3rem);

      @include media-breakpoint-down(md) {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        position: static;
      }
      li {
        &:not(:last-child) {
          margin-bottom: 1rem;

          @include media-breakpoint-down(md) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-link {
    display: block;
    color: $gray-500;
    font-size: 0.875rem;

    @include media-breakpoint-down(md) {
      padding: 0.5rem 0;
      margin-right: 1rem;
    }

    &.active {
      color: $primary;
      border-right: 2px solid $primary;
      margin-right: -1px;
      @include media-breakpoint-down(md) {
        color: white;
        background-color: $primary;
        border: none;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
      }
    }
  }
}
