@font-face {
  font-family: 'ecofont';
  src:  url('./fonts/ecofont.eot?wvps1e');
  src:  url('./fonts/ecofont.eot?wvps1e#iefix') format('embedded-opentype'),
    url('./fonts/ecofont.ttf?wvps1e') format('truetype'),
    url('./fonts/ecofont.woff?wvps1e') format('woff'),
    url('./fonts/ecofont.svg?wvps1e#ecofont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ecofont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-copy:before {
  content: "\e928";
}
.ic-favorite-filled:before {
  content: "\e927";
}
.ic-home:before {
  content: "\e926";
}
.ic-warning-alt:before {
  content: "\e900";
}
.ic-add:before {
  content: "\e901";
}
.ic-arrow-down:before {
  content: "\e902";
}
.ic-arrow-left:before {
  content: "\e903";
}
.ic-arrow-right:before {
  content: "\e904";
}
.ic-arrows-horizontal:before {
  content: "\e905";
}
.ic-arrow-up:before {
  content: "\e906";
}
.ic-checkmark:before {
  content: "\e907";
}
.ic-chevron-down:before {
  content: "\e908";
}
.ic-chevron-left:before {
  content: "\e909";
}
.ic-chevron-left-1:before {
  content: "\e90a";
}
.ic-chevron-up:before {
  content: "\e90b";
}
.ic-close:before {
  content: "\e90c";
}
.ic-delete:before {
  content: "\e90d";
}
.ic-delivery-truck:before {
  content: "\e90e";
}
.ic-edit:before {
  content: "\e90f";
}
.ic-email:before {
  content: "\e910";
}
.ic-favorite:before {
  content: "\e911";
}
.ic-fb-circle:before {
  content: "\e912";
}
.ic-gift-filled:before {
  content: "\e913";
}
.ic-headset:before {
  content: "\e914";
}
.ic-location:before {
  content: "\e915";
}
.ic-logo-instagram:before {
  content: "\e916";
}
.ic-logo-pinterest:before {
  content: "\e917";
}
.ic-logo-twitter:before {
  content: "\e918";
}
.ic-menu:before {
  content: "\e919";
}
.ic-phone:before {
  content: "\e91a";
}
.ic-purchase:before {
  content: "\e91b";
}
.ic-receipt:before {
  content: "\e91c";
}
.ic-search:before {
  content: "\e91d";
}
.ic-security:before {
  content: "\e91e";
}
.ic-share:before {
  content: "\e91f";
}
.ic-shopping-cart:before {
  content: "\e920";
}
.ic-star-filled:before {
  content: "\e921";
}
.ic-subtract:before {
  content: "\e922";
}
.ic-user-avatar:before {
  content: "\e923";
}
.ic-view:before {
  content: "\e924";
}
.ic-view-off:before {
  content: "\e925";
}
